<div class="selection-container">
  <p id="selectionTop">#</p>
  <p id="selectionUp">#</p>
  <p id="selection1" [style]="this.globals.resultCursor1">#</p>
  <p id="selection2" [style]="this.globals.resultCursor2">#</p>
  <p id="selection3" [style]="this.globals.resultCursor3">#</p>
  <p id="selection4" [style]="this.globals.resultCursor4">#</p>
  <p id="selection5" [style]="this.globals.resultCursor5">#</p>
  <p id="selection6" [style]="this.globals.resultCursor6">#</p>
  <p id="selection7" [style]="this.globals.resultCursor7">#</p>
  <p id="selection8" [style]="this.globals.resultCursor8">#</p>
  <p id="selection9" [style]="this.globals.resultCursor9">#</p>
</div>
<div class="results-container">
  <p id="searchString" [innerHTML]="this.globals.displayString"></p>
  <p id="resultUp"[innerHTML]="this.globals.resultUp">.</p>
  <p id="result1" [innerHTML]="this.globals.result1"></p>
  <p id="result2" [innerHTML]="this.globals.result2"></p>
  <p id="result3" [innerHTML]="this.globals.result3"></p>
  <p id="result4" [innerHTML]="this.globals.result4"></p>
  <p id="result5" [innerHTML]="this.globals.result5"></p>
  <p id="result6" [innerHTML]="this.globals.result6"></p>
  <p id="result7" [innerHTML]="this.globals.result7"></p>
  <p id="result8" [innerHTML]="this.globals.result8"></p>
  <p id="result9" [innerHTML]="this.globals.result9"></p>
</div>
