<div class="cursor-container">
  <p id="cursorTop">#</p>
  <p id="cursorUp">#</p>
  <p id="cursor1" [style]="this.globals.characterCursor1">#</p>
  <p id="cursor2" [style]="this.globals.characterCursor2">#</p>
  <p id="cursor3" [style]="this.globals.characterCursor3">#</p>
  <p id="cursor4" [style]="this.globals.characterCursor4">#</p>
  <p id="cursor5" [style]="this.globals.characterCursor5">#</p>
  <p id="cursor6" [style]="this.globals.characterCursor6">#</p>
  <p id="cursor7" [style]="this.globals.characterCursor7">#</p>
  <p id="cursorDown">#</p>
  <p id="cursorBottom">#</p>
</div>
<div class="keyboard-container">
  <p id="keyHeader"><em>123?!.</em></p>
  <p id="keyUp"><br></p>
  <p id="key1" [innerHTML]="this.globals.character1"></p>
  <p id="key2" [innerHTML]="this.globals.character2"></p>
  <p id="key3" [innerHTML]="this.globals.character3"></p>
  <p id="key4" [innerHTML]="this.globals.character4"></p>
  <p id="key5" [innerHTML]="this.globals.character5"></p>
  <p id="key6" [innerHTML]="this.globals.character6"></p>
  <p id="key7" [innerHTML]="this.globals.character7"></p>
  <p id="keyDown"><br></p>
  <p id="keyFooter"><em>ABC</em></p>
</div>
