.cursor-container {
  float: left;
  background-color: ghostwhite;
  width: max-content;
  padding: 10px 0px 10px 50px;
  line-height: .4;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  border-left: solid black 5px;
}

  .cursor-container p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
  }

#cursorTop, #cursorUp, #cursor1, #cursor2, #cursor3, #cursor5, #cursor6, #cursor7, #cursorDown, #cursorBottom {
  color: ghostwhite;
}

.keyboard-container {
  float: left;
  background-color: ghostwhite;
  width: max-content;
  padding: 10px 10px 10px 0px;
  line-height: .4;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

.keyboard-container p {
  text-align: center
}

#cursorTop, #cursorUp, #cursor1, #cursor2, #cursor3, #cursor4, #cursor5, #cursor6, #cursor7, #cursorDown, #cursorBottom, #keyHeader, #keyUp, #key1, #key2, #key3, #key4, #key5, #key6, #key7, #keyDown, #keyFooter, #selectionTop, #selectionUp, #selection1, #selection2, #selection3, #selection4, #selection5, #selection6, #selection7, #selection8, #selection9, #searchString, #resultUp, #result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9 {
  font-size: 19pt;
}
